= link_to current_user[:username], user_path(current_user.id)
= link_to 'Logout', sessions_path, method: :delete

%h1 Create Swit

= form_for :swit_form, url: swits_path do |f|
  = f.label :'Create Swit'
  %br
  = f.text_field :message
  %br
  = f.button('Swit')
%br

%h1 Home Swits
- @swits.each do |swit|
  = link_to swit.user.username, user_path(swit.user.id)
  \:
  = swit.message
  %br
